<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" >
  <sitecore>
    <databaseSync>
      <changesProvider type="Sitecore.DatabaseSync.Providers.BasicProvider, Sitecore.DatabaseSync"/>
    </databaseSync>
    <hooks>
      <hook type="Sitecore.DatabaseSync.ItemUpdateHook, Sitecore.DatabaseSync" />
    </hooks>
    <pipelines>
      <SynchronizeDatabase>
        <processor type="Sitecore.DatabaseSync.Pipelines.UpdateItems.FindChangedRoots, Sitecore.DatabaseSync" />
        <processor type="Sitecore.DatabaseSync.Pipelines.UpdateItems.LoadChangedItems, Sitecore.DatabaseSync" />
      </SynchronizeDatabase>
    </pipelines>
  </sitecore>
</configuration>